.customer{
    width: 250px;
    height: 250px;
    background-color: rgb(206, 200, 200);
    border-radius: 8px;
    margin: 10% auto;
}
.customer .customer-header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background: lightblue;
    border-radius: 8px;
    padding: 10%;
}
.customer .customer-full-name{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    background-color: rgb(142, 211, 148);
    border-radius: 8px;
    padding: 10%;
}
.customer .about-me{
    text-align: center;
    padding: 10%;
    font-size: 18px;
}
.error{
    text-align: center;
    color: red;
    margin-top: 10%;
    font-size: 30px;
}